<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:include="fragments/top"/>
    <th:block th:include="fragments/leftMenu"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1> Data tables <small>advanced tables</small></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm" id="btnDel">
                                    <i class="fa fa-trash-o"></i> Delete</button>
                                <button type="button" class="btn btn-default btn-sm" id="btnNew" data-toggle="modal" data-target="#modal-default">
                                    <i class="fa fa-edit"></i> New</button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="dataTab" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="chkAll"/></th>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Reg Date</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->

        <!-- modal -->
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Person</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="frm">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                                    </div>
                                    <div class="col-sm-12 text-right" id="firstNameErrMsg"></div>
                                </div>
                                <div class="form-group">
                                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                                    </div>
                                    <div class="col-sm-12 text-right" id="lastNameErrMsg"></div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- /.content-wrapper -->

    <th:block th:include="fragments/bottom"/>
</div>
<!-- ./wrapper -->

<th:block th:include="fragments/script"/>
<!-- page script -->
<script>
$(function () {
    var tabCol = [
        { "data": "id" },
        { "data": "id" },
        { "data": "firstName" },
        { "data": "lastName" },
        { "data": "regDate" }
    ];

    var dataTab = $('#dataTab').DataTable({
        "processing": true,
        "serverSide": true,
        "order": [1, "desc"],
        "columns": tabCol,
        "columnDefs": [{
            "targets": 0,
            "data": "id",
            "orderable": false,
            "render": function(data) {
                return '<input type="checkbox" id="chk_'+data+'"/>';
            }
        }],
        "initComplete": function() {
            $('#dataTab_filter input').unbind().bind('keyup', function(e) {
                if(e.keyCode == 13)
                    dataTab.search(this.value).draw();
            });
        },
        "ajax": {
            "url": "/api/persons/search/findByFilter",
            "data": function(param) {
                param.size = param.length;
                param.page = param.start/param.length;
                param.sort = tabCol[param.order[0].column].data+","+param.order[0].dir;
                param.keyword = param.search.value;
            },
            "dataFilter": function(data){
                var json = $.parseJSON(data);
                json.recordsTotal = json.page.totalElements;
                json.recordsFiltered = json.page.totalElements;

                var idx = 0;
                json._embedded.persons.forEach(function(item){
                    var idArr = item._links.self.href.split("/");
                    json._embedded.persons[idx++].id = idArr[idArr.length-1];
                });

                json.data = json._embedded.persons;
                return JSON.stringify(json);
            }
        }
    });

    var editId = "";
    $("#dataTab tbody").on('click','tr', function(){
        $("#frm")[0].reset();
        $("div[id$=ErrMsg]").text("");
        $(".form-group").removeClass("has-error");
        editId = $(this).find("td").eq(1).text();
        $("input[name=id]").val(editId);
        $.ajax({
            url: '/api/persons/'+editId,
            type: 'GET',
            success: function(d) {
                $("#firstName").val(d.firstName);
                $("#lastName").val(d.lastName);
                $('#modal-default').modal('show');
            }
        });
    });

    $("#chkAll").click(function(){
        $("input[id^=chk]").prop("checked",$(this).is(":checked"));
    });

    $("#btnNew").click(function(){
        editId = "";
        $("#frm")[0].reset();
        $("div[id$=ErrMsg]").text("");
        $(".form-group").removeClass("has-error");
    });

    $("#btnDel").click(function(){
        if(confirm('Are you sure you want to delete it?')) {
            $.each($("input[id^=chk_]"),function(){
                if($(this).is(":checked")) {
                    var delId = $(this).attr("id").replace("chk_","");
                    $.ajax({
                        url: '/api/persons/'+delId,
                        type: 'DELETE'
                    });
                }
            });
            dataTab.draw();
        }
    });

    $("#btnSave").click(function(){
        $("div[id$=ErrMsg]").text("");
        $(".form-group").removeClass("has-error");
        var ajaxType = (editId=="")?"POST":"PUT";
        var ajaxUrl = "/api2/persons/";
        if(ajaxType=="PUT")
            ajaxUrl += editId
        $.ajax({
            url: ajaxUrl,
            type: ajaxType,
            data: $("#frm").serialize(),
            success: function(d) {
                if(d.status=="OK") {
                    alert("Success!");
                    $("button[data-dismiss=modal]").click();
                    dataTab.draw();
                } else {
                    $.each(d.error,function(i,item){
                        $("#"+item.field+"ErrMsg").text(item.message);
                        $("#"+item.field+"ErrMsg").parent().addClass("has-error");
                    });
                }
            }
        });
    });
});
</script>
</body>
</html>
